* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  color: #000;
  overflow-x: hidden;
}

body.active {
  background-color: #1d2432;
  color: white;
  header {
    background-color: #176b87;
  }
  .detail {
    color: white;
    span {
      color: white;
    }
    .arabicname {
      color: white;
    }
    .namalatin {
      color: white;
    }
    .total::before {
      background-color: white;
    }
  }
  .box {
    background-color: #111827;
    img {
      z-index: 0;
    }
  }
  svg path {
    fill: white;
  }
  .bnav {
    background-color: #176b87;
    box-shadow: 0 5px 5px #111827;
  }
  .body-surat li:first-child {
    border-top: 2px solid #176b87;
  }
  .ayat {
    border-top: 0px solid black;
    border: 1px solid #176b87;
    background-color: #111827;
  }
  .ayat span {
    color: white;
  }
  .ayat .symbol {
    color: #176b87;
  }
  button {
    background-color: #111827;
    border-color: #176b87;
    color: white;
    a {
      border-color: #176b87;
      color: white;
      span {
        color: white;
      }
    }
  }
  .sidebar {
    background-color: #176b87;
    p {
      color: white;
    }
    .sSurat.active {
      background-color: #176b87;
    }
    .sAyat.active {
      background-color: #176b87;
    }
  }
  .list-surat::-webkit-scrollbar-thumb {
    background-color: white;
  }
  .list-surat::-webkit-scrollbar-track {
    background-color: #111827;
    border-radius: 10px;
  }
  .list-ayat::-webkit-scrollbar-thumb {
    background-color: white;
  }
  .list-ayat::-webkit-scrollbar-track {
    background-color: #111827;
    border-radius: 10px;
  }
}

header {
  width: 100%;
  background-color: whitesmoke;
  padding: 2px 5%;

  z-index: 2;
  position: fixed;
  opacity: 1;
  top: 0px;
  transition: all 0.2s linear;
  z-index: 999;
}
header.active {
  top: -40px;
  background-color: #176b87;
}

.bnav {
  position: sticky;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 5px 4rem;

  transition: all 0.3s ease;
  background-color: whitesmoke;
  z-index: 999;
  box-shadow: 0 5px 5px #cfcfcf;
}

.bnav .name {
  font-weight: 500;
  font-size: 16px;
  width: 110px;
}

.bnav.active {
  top: -20px;
  padding: 30px 4rem 10px;
  background-color: #176b87;
  color: white;
}

.bnav .updown {
  cursor: pointer;
  user-select: none;
}

.bnav form {
  display: flex;
  align-items: center;
}

.bgcolor {
  background-color: #eeeaea;

  border-radius: 1px;
}

.cont {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  width: 100%;
  max-width: 1400px;
}

.logo img {
  height: 70px;
}
.extra {
  display: flex;
  flex-wrap: nowrap;
}

.extra i {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid white;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.extra i:nth-child(2) {
  margin-left: 20px;
}

.extra i:hover {
  border: 1px solid #176b87;
}

.search-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  padding: 8rem 10% 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  opacity: 0;
  pointer-events: none;
  transition: opactiy s ease;
}

.search-form {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 2rem;
  column-gap: 5px;
  padding-inline: 1rem;
  transform: translateY(-5px);
  transition: transform 0.5s;
}
.input-search {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 1rem;
}

.search-icon {
  font-size: 30px;
  color: #555;
}

.search-close {
  position: absolute;
  top: 5.5rem;
  right: 10%;
  font-size: 40px;
  color: #555;
  cursor: pointer;
}

.search-show {
  opacity: 1;
  pointer-events: initial;
}

.search-show .search-form {
  transform: translateY(0);
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 340px;
  height: 100vh;
  background-color: whitesmoke;
  padding-top: 100px;
  opacity: 0;
  z-index: 99;
  border-right: 1px solid #dfdfdf;
  pointer-events: none;
  user-select: none;
}

.sidebar.down {
  top: 0;
  .col {
    padding: 2rem 0;
  }
}

.sidebar.show {
  opacity: 1;
  display: flex;
  flex-direction: column;
  animation: sideanimates 0.8s;
  pointer-events: initial;
  padding-top: 60px;
}

.sidebar .col {
  display: flex;
  flex-direction: column;
  flex: 1 1 100vh;
  position: relative;
  padding: 2rem 0 5rem;
  overflow: hidden;
}

.col .closed {
  position: absolute;
  right: 5px;
  top: 0;
  cursor: pointer;
  user-select: none;
}

.sidebar .col .rows {
  display: flex;
  flex: 1 1;
}

.src-surat {
  padding: 10px;
  border-right: 1px solid #dfdfdf;
  display: flex;
  flex-direction: column;
  flex: 2 1;
}

.src-ayat {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 10px;
}

.src-surat form {
  padding-bottom: 20px;
}

.src-ayat form {
  padding-bottom: 20px;
}

.list-container {
  flex: 1 1;
  position: relative;
  height: 100vh;
}

.list-surat {
  position: absolute;
  inset: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  border-radius: 5px;
}

.list-ayat {
  position: absolute;
  inset: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 5px 10px;
  border-radius: 5px;
}
.sSurat {
  cursor: pointer;
  padding-block: 1px;

  a {
    text-decoration: none;
    color: black;
  }
  p {
    display: flex;
    align-items: center;

    font-size: 1rem;
  }

  span {
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
  }
}

.sSurat.active {
  font-weight: 600;
  background-color: white;
}

.sSurat:hover {
  background-color: #cfcfcf;
}

.sAyat {
  cursor: pointer;
  padding: 2px;
  padding-left: 4px;
  p {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    width: 30px;
    pointer-events: none;
  }
}

.sAyat:hover {
  background-color: #cfcfcf;
}

.sAyat.active {
  font-weight: 600;
  background-color: white;
}
.sidebar input {
  width: 100%;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 5px;
}

.sidebar input:focus {
  border: 1px solid #176b87;
}

.container.shift {
  display: block;
  padding-left: 270px;
  transition: all 0.5s ease;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.halaman {
  padding: 7rem 10% 3rem;
}

.halaman .detail {
  text-align: center;

  font-weight: 500;
}

.halaman .detail svg {
  margin: 3rem 0;
}

.halaman .detail i {
  font-size: 3rem;
  word-spacing: -2px;
  color: #000;
}

.halaman .detail .arabicname {
  font-style: normal;
  font-weight: 200;
}

.halaman .detail p {
  font-size: 1.25rem;
  font-weight: 500;
  color: #000;
  margin-block: 5px;
}

.halaman .detail,
.total {
  padding-left: 10px;
  position: relative;
  color: #555;
  font-weight: 400;
}
.halaman .detail .part {
  font-weight: 400;
}

.halaman .detail .total {
  position: relative;
}

.halaman .detail .total::before {
  content: "";
  width: 3px;
  height: 3px;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  border-radius: 50%;
}

.body-surat {
  margin-top: 3rem;
}

.body-surat .ayat {
  list-style: none;
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
  font-family: "poppins";
  display: flex;
  position: relative;
  border-radius: 5px;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}
.body-surat .text {
  width: 100%;
  margin-left: 5px;
}

.ayat .navigation {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-inline: 0.5rem;
  gap: 0.1rem;
  user-select: none;
}

.ayat .navigation p {
  font-weight: 400;
  pointer-events: none;
}

.ayat .navigation span {
  font-weight: 300;
  cursor: pointer;
  color: #555;
  padding: 5px;
}
.ayat .navigation span:hover {
  background-color: #2ca4ab;
  border-radius: 50%;
  padding: 5px;
  color: white;
}
.arabic-text {
  font-size: 2rem; /* Ukuran font untuk teks Arab */
  direction: rtl; /* Arah teks dari kanan ke kiri */
  unicode-bidi: embed; /* Membedakan unicode untuk mengatur arah teks */
  text-align: right;
  font-family: "Amiri", serif;
  line-height: 70px;
}

.symbol {
  font-family: "KFGQPC Uthmanic Script HAFS";

  color: #176b87;
}

.number {
  font-family: "KFGQPC Uthmanic Script HAFS";

  color: #000;
}
.latin-text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #176b87;
  font-size: 1rem;
}

.arti-text {
  font-weight: 400;
  font-size: 1rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  z-index: 99;
  transition: opacity 0.75s, visibilty 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.loader::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50px;
  border: 15px solid white;
  border-top-color: #176b87;
  animation: loading 0.75s ease infinite;
}

.bottom-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 2.5rem;
}

.bottom-pagination button {
  border-color: #176b87;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #555;
  background-color: white;
  user-select: none;
  border-radius: 5px;
}

button:nth-child(2) {
  padding: 0.5rem;
  border: 2px solid #dfdfdf;
}

button:nth-child(2):hover {
  border: 2px solid #2ca4ab;
}

.bottom-pagination button a:hover {
  border: 2px solid #2ca4ab;
}

.arrow a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #555;
  border: 2px solid #dfdfdf;
  padding: 0.5rem;
  border-radius: 5px;
}
.arrow a span {
  font-size: 20px;
  font-weight: 200;
  color: #555;
}

.footer {
  text-align: center;
  padding: 3rem 10%;
  background-color: #176b87;
  color: white;
  margin-top: 20px;
}

.hidden-pagination {
  opacity: 0;

  pointer-events: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<media player>>>>>>>>>>>>>>>>>>>>>>>>> */

.media-player {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: -80px;
  background-color: whitesmoke;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: all 0.2s ease;
}

.media-player.show {
  display: block;
  pointer-events: initial;
  opacity: 1;
  height: 80px;
}

.progres-area {
  width: 100%;
  height: 3px;
  background-color: darkturquoise;
  cursor: pointer;
  border-radius: 20px;
  position: relative;
}

.progres-bar::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #2ca4ab;
  border-radius: 50%;
}

.progres-bar {
  width: 1%;
  height: inherit;
  background-color: #176b87;
  position: relative;
}
.left {
  display: flex;
  align-items: center;
}

.media-logo {
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.media-logo img {
  width: 100%;
  height: 100%;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  user-select: none;
}

.duration,
.current {
  margin-right: 40px;
  width: 70px;
  height: 20px;
}

.control-btn {
  display: flex;
  align-items: center;
}
.control-btn span {
  font-size: 3rem;
  cursor: pointer;
  margin-inline: 10px;
  padding: 2px;
}

.control-btn span:hover {
  background-color: #b7edf0;
  border-radius: 50%;
  padding: 2px;
}

.control-btn span:first-child,
.control-btn span:last-child {
  font-size: 2rem;
  margin: 0 35px;
}

.control-btn span:nth-child(3) {
  padding: 5px;
  background-color: #b7edf0;
  border-radius: 50%;
}
.control-btn span:nth-child(3):hover {
  background-color: #2ca4ab;
}

@keyframes loading {
  from {
    transform: rotate (0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #dfdfdf;
}

::-webkit-scrollbar-thumb {
  background: #176b87;
  border-radius: 20px;
}

@media (max-width: 768px) {
  html {
    font-size: 95%;
  }

  .arabic-text {
    font-size: 1.5rem;
  }
  .duration,
  .current {
    margin-right: 40px;
    width: 20px;
    height: 20px;
  }

  .control-btn {
    display: flex;
    align-items: center;
  }
  .control-btn span {
    font-size: 2rem;
    cursor: pointer;
    margin-inline: 5px;
    padding: 2px;
  }

  .control-btn span:first-child,
  .control-btn span:last-child {
    font-size: 2rem;
    margin: 0 20px;
  }
}

@media (max-width: 567px) {
  .duration {
    margin-right: 40px;

    width: 5px;
    height: 10px;
    font-size: 1rem;
  }
  .bnav {
    padding: 5px 1rem;
  }
  .current {
    margin-left: 10px;

    width: 10px;
    height: 10px;
    font-size: 1rem;
  }

  .control-btn span {
    font-size: 2rem;
    cursor: pointer;
    margin-inline: 8px;
    padding: 2px;
  }

  .control-btn span:first-child,
  .control-btn span:last-child {
    font-size: 1.25rem;
    margin: 0 10px;
  }
  .media-logo {
    display: none;
  }

  .media-logo img {
    display: none;
  }
  .halaman {
    padding: 6rem 3%;
  }
  .bottom-pagination {
    gap: 5px;
  }

  .bottom-pagination button {
    font-size: 1rem;
  }

  button:nth-child(2) {
    padding: 1rem 1px;
    border: 2px solid #dfdfdf;
  }

  .arrow a {
    padding: 1rem 5px;
    display: flex;
    align-items: center;
  }
  .arrow a span {
    font-size: 10px;
  }
  .sidebar.show {
    display: flex;
    padding-left: 0;
  }

  .sidebar .list-surat .sSurat {
    font-size: 2rem;

    p {
      font-size: 1rem;
      padding: 0.5rem 5px;
    }
  }
  .bottom-pagination button {
    font-size: 0.8rem;

    a {
      padding: 0.2rem;
    }
  }

  .bottom-pagination button:nth-child(2) {
    padding: 0.3rem;
  }
  .arabic-text {
    font-size: 1.5rem;
  }
  .latin-text,
  .arti-text {
    font-size: 0.85rem;
  }
}
@keyframes sideanimate {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes sideanimates {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -300px;
    opacity: 0;
  }
}
